<nav>
    <header>
        <div class="text-bg-dark collapse" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4 d-none d-sm-block d-md-block">
                        <h4>About</h4>
                        <p class="text-body-secondary">Write It is a modern, minimalist platform built for readers
                            and
                            writers who value thoughtful content. <br> Whether you're sharing personal stories,
                            insightful
                            opinions, or expert knowledge, Write It gives you the tools to express your voice and
                            connect with a curious, engaged community. <br>

                            We believe in simplicity, clarity, and impact. With distraction-free writing, intuitive
                            publishing, and a growing audience, Write It makes blogging as easy as thinking out
                            loud.
                            <br>

                            <strong class='text-light'>Start writing. Share your thoughts. Inspire the
                                world.</strong><br>
                            That’s the power of Write It.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4>Contact Darryl</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://www.linkedin.com/in/darryl-mathias-020241317/"
                                    class="text-white">Linkedin</a></li>
                            <li><a href="https://github.com/DarrylMathias" class="text-white">Github</a>
                            </li>
                            <li><a href="mailto:darrylnevmat@gmail.com" class="text-white">Email me</a></li>
                        </ul>
                        <h4>Settings</h4>
                        <ul class="list-unstyled">
                            <li><a href="/users/editProfile" class="text-white">Edit Profile</a></li>
                            <li><a href="/users/logout" class="text-white">Logout</a></li>
                        </ul>
                        
                    </div>

                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container"> <a href="/users/login" class="navbar-brand d-flex align-items-center">
                    <!-- <svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
                        viewBox="0 0 24 24">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                        </path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg> -->
                    <strong class="fs-3">Write It</strong> </a>
                <div class="d-flex align-items-center gap-5">
                    <div>
                        <% if(user.image){ %>
                            <img src="<%= user.image %>" height="40" style="border-radius: 50%;" alt="avatar">
                            <% }else{ %>
                                <img src="https://api.dicebear.com/9.x/initials/svg?seed=<%= name %>&radius=50&size=40&backgroundType=gradientLinear&fontSize=44"
                                    alt="avatar" />
                                <% } %>
                    </div>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>
</nav>